/* TableStyles.css */

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
  margin-bottom: 20px; /* Add some spacing below the tables */
}

h1,h2 {
  text-align: center;
}

/* Table styles */
.table {
  width: 90%;
  margin: auto;
  border-collapse: collapse; /* Ensure borders are collapsed */
  border: 1px solid #ddd; /* Add a light border around the table */
  margin-bottom: 10px;
  background-color: #fff; /* White background for better readability */
}

/* Table header styles */
.table thead {
  background-color: #f2f2f2; /* Light gray background for table headers */
}

/* Table header row styles */
.table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Add bottom border to header row */
}

/* Table body row styles */
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Add bottom border to table rows */
}

/* Responsive table styles for smaller screens */
@media (max-width: 768px) {
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
  }

  .table {
    font-size: 14px; /* Decrease font size for better fit on smaller screens */
  }

  .table th,
  .table td {
    padding: 6px; /* Decrease padding for better fit on smaller screens */
  }
}
